services:
  db:
    image: postgres:16
    restart: always
    user: postgres
    environment:
      POSTGRES_USER: '${DB_USER}'
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
    ports:
      - "${EXTERNAL_DB_PORT}:5432"
    networks:
      - app_backend
    volumes:
      - exercise-log-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  exercise-log:
    build: .
    restart: unless-stopped
    entrypoint: [bin/docker-entrypoint.sh]
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    environment:
      DB_HOST: db
      DB_USER: '${DB_USER}'
      DB_PASSWORD: '${DB_PASSWORD}'
      DB_PORT: '${DB_PORT}'
      SECRET_KEY_BASE: '${SECRET_KEY_BASE}'
    ports:
      - "${APP_PORT}:3000"
    networks:
      - app_backend
      - app_frontend
    depends_on:
      db:
        condition: "service_healthy"
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
 
volumes: 
  exercise-log-db:

networks:
  app_backend:
    name: ${DOCKER_NETWORK_BACKEND:-exercise-log-backend}
    internal: true
  app_frontend:
    name: ${DOCKER_NETWORK_FRONTEND:-exercise-log-frontend}
    external: true
