<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Edit <%= @set.class::NAME %>
    </a>
    </div>
    </nav>


    <%= render partial: "shared/partials/log_set_form" , locals: { set_type: @set.type, set: @set, exercise: @set.exercise, method: 'save' } %>