<%= render partial: "shared/partials/navigation" , locals: { title: "Edit #{@set.class::NAME}", exercise: @set.exercise, set: @set} %>

<div class="body-container d-flex flex-column flex-md-row p-2 gap-4 py-md-2 align-items-center justify-content-center">
  <%= render partial: "shared/partials/log_set_form" , locals: { set_type: @set.type, set: @set, exercise: @set.exercise, method: 'save' } %>
</div>