<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= @set.created_at %>
    </a>
    </div>
    </nav>