<a href="#" class="recent-set-item list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <% if set.rpe? %>
        <div class="rounded-circle flex-shrink-0">
            <span class="rpe-icon bi bi-<%= set.rpe %>-circle-fill"></span>
        </div>
        <% end %>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">
                        <%= "#{set.rep_count} x #{set.rep_value}lbs." %>
                    </h6>
                    <p class="mb-0 opacity-75">
                        <%= set.type %>
                    </p>
                </div>
                <small class="opacity-50 text-nowrap">
                    <%= set.created_at %>
                </small>
            </div>
</a>