<%= render partial: "shared/partials/navigation" , locals: { title: "Update #{@exercise.name}", exercise: @exercise} %>

<div class="py-2"></div>
<%= render "form", exercise: @exercise, method: :edit %>

<div class="d-flex gap-2 justify-content-center py-2">
    <%= link_to exercises_path, class: "btn btn-primary rounded-pill px-3" do %>
      <i class="bi bi-chevron-left"></i>
      All Exercises
    <% end %>
</div>